[submodule "browser-use"]
	path = submodules/browser-use
	url = git@github.com:JohnPeng47/browser-use.git
[submodule "johnllm"]
	path = submodules/johnllm
	url = git@github.com:JohnPeng47/johnllm.git
	branch = webui
[submodule "opik"]
	path = submodules/opik
	url = git@github.com:JohnPeng47/opik.git