pyperclip==1.9.0
gradio==5.10.0
json-repair
langchain-mistralai==0.2.4
langchain-google-genai==2.0.8
MainContentExtractor==0.0.4
pydantic==2.10.6
pytest
pytest-asyncio
flask
-e ./submodules/browser-use
-e ./submodules/johnllm
-e ./submodules/opik/sdks/python